.red{
    color: rgb(13, 56, 252);
}

.bold{
    font-family: Arial, Helvetica, sans-serif;
    
    font-weight: bold;
}

.Cockpit button {

    border:1px solid blueviolet;
    padding:16px;
    background-color:greenyellow;
    font: inherit;
    color: white;
    cursor: pointer;
}
.Cockpit button:hover{
    background-color:red;
    color: black;

}
.Cockpit button.Red{
    background-color: rebeccapurple;
}
.Cockpit button.Red:hover{
    background-color:salmon;
    color: black;

}